In [12]:
import numpy as np
import pandas as pd

# Load the original dataset
original_dataset = pd.read_csv("Copy of sonar data.csv",header=None)

# Separate features and labels
features = original_dataset.iloc[:, :-1]
labels = original_dataset.iloc[:, -1]

# Introduce Gaussian noise to create synthetic data
noise = np.random.normal(0, 0.05, features.shape)  # Adjust noise level if necessary
synthetic_features = features + noise

# Combine synthetic features with original labels to form a new dataset
synthetic_dataset = pd.concat([synthetic_features, labels], axis=1)

# Save dataset to a csv
synthetic_dataset.to_csv('SyntheticData1.csv', index=False)  

# Save synthetic dataset to an xls file 
#data_to_excel = pd.ExcelWriter('SyntheticData1.xlsx')
#synthetic_dataset.to_excel(data_to_excel)
#data_to_excel.close()

synthetic_dataset.head()  # Display first few rows of the synthetic dataset

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,-0.034864,0.003636,0.077223,0.000811,0.005941,0.128735,0.200408,0.133897,0.266730,0.235168,...,-0.053899,-0.039114,-0.003545,0.002251,0.028788,0.116847,0.028584,-0.087172,-0.023972,R
1,0.159297,-0.010391,0.144714,0.099565,0.160585,0.266952,0.184129,0.382748,0.315378,0.296261,...,-0.032452,0.049766,0.032551,0.040667,0.001948,0.024292,-0.008273,0.023431,0.042536,R
2,0.018415,0.059583,0.084391,0.048914,0.039446,0.152947,0.270079,0.349665,0.614373,0.579331,...,-0.013449,0.054276,-0.072111,-0.072474,-0.005637,0.014408,-0.033320,-0.011864,0.065244,R
3,0.034174,0.063927,0.115379,0.033466,-0.008070,0.061520,0.204097,0.095458,0.098209,0.122080,...,-0.048951,0.114062,0.007580,-0.036637,0.022331,-0.030605,0.018441,0.021471,-0.066093,R
4,0.037621,0.136387,0.085583,-0.017455,0.050672,0.062881,0.155532,0.338487,0.280497,0.426637,...,-0.011598,0.099295,-0.062579,-0.000875,0.162059,-0.025298,-0.053919,-0.089936,0.048085,R

In [9]:
synthetic_dataset[60].value_counts()

M    111
R     97
Name: 60, dtype: int64